<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280901487341-dtgjq10k2rriljj70000aa9ph1971ep9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280901487341-dtgjq10k2rriljj70000aa9ph1971ep9</string>
	<key>API_KEY</key>
	<string>AIzaSyA-OW2fB6zuvAhXYttejTZo_exp22OsDIY</string>
	<key>GCM_SENDER_ID</key>
	<string>280901487341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>handschu.inClass10</string>
	<key>PROJECT_ID</key>
	<string>inclass10-adbe2</string>
	<key>STORAGE_BUCKET</key>
	<string>inclass10-adbe2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280901487341:ios:afe015b14efe499e</string>
	<key>DATABASE_URL</key>
	<string>https://inclass10-adbe2.firebaseio.com</string>
</dict>
</plist>